.Ask-div{
    width:100%;
    height:43rem;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;
    flex-direction: column;
} 

.Ask-div label{
    font-size: large;
    margin: 5px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Ask-div input{
    width: 78%;
    margin: 5px;
}

.write-div{
    /* box-shadow: 3px 3px 3px solid black; */
    width:80%;
    height:500px;
    display:grid;
    grid-template-rows: 1fr 5fr;
    border: 3px solid orange; 
    
}