.read-div-styl{
    width:100%;
    height:100vh;
    display: grid;
    grid-template-rows:2fr 20fr 6fr;
}
.read-div-nav-styl{
    grid-column: 1/-1;
    grid-row:1/2;
}
.read-div-bod-styl{
    grid-column: 1/-1;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 6fr 4fr;
}
.read-templ-styl{
    grid-column:1/2;
    grid-row:1/-1
    
}
.read-side-temp-styl{
    grid-column:2/3;
    grid-row:1/-1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.read-heading{
    padding:20px;
    width:100%;
    height:5rem;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
span{
    color:orange;
}
.read-side-box{
   width:350px;
   height:350px; 
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 4px 4px 4px orange;
}
.read-side-head{
    padding:20px;
    border-bottom: 1px solid orange;

}
.underline-styl{
    width:150px;
   transition: width 2s;
}
.underline-styl:hover{
    width:400px;
    border-bottom: 4px solid orange ;
}

